<?xml version="1.0" encoding="UTF-8"?>
<config>
	<weaponsLighting url="data/weapons_lighting.json" />
	<hullPhysics url="data/hull_physics.json" />
	<smoky>
		<animation frameSize="1000" animationId="Гром М3" />
		<animation frameSize="1000" animationId="Гром М2" />
		<animation frameSize="1000" animationId="Гром М1" />
		<animation frameSize="1000" animationId="Гром М0" />
		<animation frameSize="300" animationId="Смоки М3" />
		<animation frameSize="300" animationId="Смоки М2" />
		<animation frameSize="300" animationId="Смоки М1" />
		<animation frameSize="300" animationId="Смоки М0" />
		<animation frameSize="200" animationId="Шафт М3" />
		<animation frameSize="200" animationId="Шафт М2" />
		<animation frameSize="200" animationId="Шафт М1" />
		<animation frameSize="200" animationId="Шафт М0" />
	</smoky>
	<isis>
		<effect>
			<id>isida0</id>
			<idleSpark frameSize="150" animationId="heal" rm="1" gm="1" bm="1" am="1" />
			<healStart frameSize="150" animationId="heal" rm="1" gm="1" bm="1" am="1"/>
			<healEnd frameSize="150" animationId="heal" rm="1" gm="1" bm="1" am="1"/>
			<healShaft frameSize="200" animationId="heal_shaft" rm="1" gm="1" bm="1" am="1"/>
			<damageStart frameSize="150" animationId="damage" rm="1" gm="1" bm="1" am="1"/>
			<damageEnd frameSize="150" animationId="damage" rm="1" gm="1" bm="1" am="1"/>
			<damageShaft frameSize="200" animationId="damage_shaft" rm="1" gm="1" bm="1" am="1"/>
		</effect>
	</isis>
	<flamethrower>
		<muzzlePlane>
			<width>100</width>
			<length>300</length>
		</muzzlePlane>
		<particleOffset>90</particleOffset>
		<particleRandomOffset>40</particleRandomOffset>
		<animation frameSize="128" animationId="Огнемёт М0" />
		<animation frameSize="128" animationId="Огнемёт М1" />
		<animation frameSize="128" animationId="Огнемёт М2" />
		<animation frameSize="128" animationId="Огнемёт М3" />
	</flamethrower>
	<freeze>
		<muzzlePlane>
			<width>210</width>
			<length>350</length>
		</muzzlePlane>
		<animation frameSize="128" animationId="Фриз М0-М3" />
	</freeze>
	<twinsExplosion>
		<animation frameSize="150" animationId="Твинс М0_exp" />
		<animation frameSize="150" animationId="Твинс М1_exp" />
		<animation frameSize="150" animationId="Твинс М2_exp" />
		<animation frameSize="150" animationId="Твинс М3_exp" />
		<animation frameSize="100" animationId="Рикошет М0_exp" />
		<animation frameSize="100" animationId="Рикошет М1_exp" />
		<animation frameSize="100" animationId="Рикошет М2_exp" />
		<animation frameSize="100" animationId="Рикошет М3_exp" />
	</twinsExplosion>
	<twinsShot>
		<animation frameSize="200" animationId="Твинс М0" />
		<animation frameSize="200" animationId="Твинс М1" />
		<animation frameSize="200" animationId="Твинс М2" />
		<animation frameSize="200" animationId="Твинс М3" />
		<animation frameSize="200" animationId="Рикошет М0" />
		<animation frameSize="200" animationId="Рикошет М1" />
		<animation frameSize="200" animationId="Рикошет М2" />
		<animation frameSize="200" animationId="Рикошет М3" />
	</twinsShot>
	<railgun>
		<effect id="Рельса М0" beamLifeTime="2000" />
		<effect id="Рельса М1" beamLifeTime="2000"  />
		<effect id="Рельса М2" beamLifeTime="2000" />
		<effect id="Рельса М3" beamLifeTime="2000"/>
	</railgun>
	<garage baseUrl="data/assets/garage">
		<asset id="model" url="garage.3ds" />
		<asset id="texture" url="garage.jpg" />
	</garage>
	<models baseUrl="data/assets/">
		<model id="flag_stand_red" url="ctf/flag_stand_red.3ds" />
		<model id="flag_stand_blue" url="ctf/flag_stand_blue.3ds" />
		<model id="gold_box" url="boxes/gold.3ds" />
	</models>
	<sounds baseUrl="data/assets/sounds">
		<sound id="battle_ambience" url="battle_ambience.mp3" />
		<sound id="battle_ambience_madness" url="battle_ambience_madness.mp3" />
		<sound id="battle_ambience_halloween" url="battle_ambience_halloween.mp3" />
		<sound id="engine_idle" url="engine_idle.mp3" />
		<sound id="engine_accelerate" url="engine_accelerate.mp3" />
		<sound id="engine_motion" url="engine_motion.mp3" />
		<sound id="turret_rotate" url="turret_rotate.mp3" />
		<sound id="rank_up" url="rank_up.mp3" />
		<sound id="tank_explosion" url="tank_explosion.mp3" />
		<sound id="railgun" url="railgun.mp3" />
		<sound id="smoky_hit" url="smoky_hit.mp3" />
		<sound id="shaft_hit" url="shaft_hit.mp3" />
		<sound id="thunder_hit" url="thunder_hit.mp3" />
		<sound id="smoky_shot" url="smoky_shot.mp3" />
		<sound id="thunder_shot" url="thunder_shot.mp3" />
		<sound id="shaft_shot" url="shaft_shot.mp3" />
		<sound id="twins_shot" url="twins_shot.mp3" />
		<sound id="ricochet_shot" url="ricochet_shot.mp3" />
		<sound id="ricochet_hit" url="ricochet_hit.mp3" />
		<sound id="firebird" url="firebird.mp3" />
		<sound id="freeze" url="freeze.mp3" />
		<sound id="isida" url="isida.mp3" />
		<sound id="bonus" url="bonus.mp3" />
		<sound id="goldbox_siren" url="goldbox_siren.mp3" />
	</sounds>
	<skyboxes baseUrl="data/assets/skyboxes/">
		<skybox id="skybox_1_hills" url="hills/01.jpg" />
		<skybox id="skybox_2_hills" url="hills/02.jpg" />
		<skybox id="skybox_3_hills" url="hills/03.jpg" />
		<skybox id="skybox_4_hills" url="hills/04.jpg" />
		<skybox id="skybox_5_hills" url="hills/05.jpg" />
		<skybox id="skybox_6_hills" url="hills/06.jpg" />
		<skybox id="skybox_1_hills_night" url="hills_night/01.jpg" />
		<skybox id="skybox_2_hills_night" url="hills_night/02.jpg" />
		<skybox id="skybox_3_hills_night" url="hills_night/03.jpg" />
		<skybox id="skybox_4_hills_night" url="hills_night/04.jpg" />
		<skybox id="skybox_5_hills_night" url="hills_night/05.jpg" />
		<skybox id="skybox_6_hills_night" url="hills_night/06.jpg" />
		<skybox id="skybox_1_mountains" url="mountains/01.jpg" />
		<skybox id="skybox_2_mountains" url="mountains/02.jpg" />
		<skybox id="skybox_3_mountains" url="mountains/03.jpg" />
		<skybox id="skybox_4_mountains" url="mountains/04.jpg" />
		<skybox id="skybox_5_mountains" url="mountains/05.jpg" />
		<skybox id="skybox_6_mountains" url="mountains/06.jpg" />
		<skybox id="skybox_1_mountains_night" url="mountains_night/01.jpg" />
		<skybox id="skybox_2_mountains_night" url="mountains_night/02.jpg" />
		<skybox id="skybox_3_mountains_night" url="mountains_night/03.jpg" />
		<skybox id="skybox_4_mountains_night" url="mountains_night/04.jpg" />
		<skybox id="skybox_5_mountains_night" url="mountains_night/05.jpg" />
		<skybox id="skybox_6_mountains_night" url="mountains_night/06.jpg" />
		<skybox id="skybox_1_desert" url="desert/01.jpg" />
		<skybox id="skybox_2_desert" url="desert/02.jpg" />
		<skybox id="skybox_3_desert" url="desert/03.jpg" />
		<skybox id="skybox_4_desert" url="desert/04.jpg" />
		<skybox id="skybox_5_desert" url="desert/05.jpg" />
		<skybox id="skybox_6_desert" url="desert/06.jpg" />
		<skybox id="skybox_1_desert_night" url="desert_night/01.jpg" />
		<skybox id="skybox_2_desert_night" url="desert_night/02.jpg" />
		<skybox id="skybox_3_desert_night" url="desert_night/03.jpg" />
		<skybox id="skybox_4_desert_night" url="desert_night/04.jpg" />
		<skybox id="skybox_5_desert_night" url="desert_night/05.jpg" />
		<skybox id="skybox_6_desert_night" url="desert_night/06.jpg" />
		<skybox id="skybox_1_cologne" url="cologne/01.jpg" />
		<skybox id="skybox_2_cologne" url="cologne/02.jpg" />
		<skybox id="skybox_3_cologne" url="cologne/03.jpg" />
		<skybox id="skybox_4_cologne" url="cologne/04.jpg" />
		<skybox id="skybox_5_cologne" url="cologne/05.jpg" />
		<skybox id="skybox_6_cologne" url="cologne/06.jpg" />
		<skybox id="skybox_1_winter" url="winter/01.jpg" />
		<skybox id="skybox_2_winter" url="winter/02.jpg" />
		<skybox id="skybox_3_winter" url="winter/03.jpg" />
		<skybox id="skybox_4_winter" url="winter/04.jpg" />
		<skybox id="skybox_5_winter" url="winter/05.jpg" />
		<skybox id="skybox_6_winter" url="winter/06.jpg" />
		<skybox id="skybox_1_iran" url="iran/01.jpg" />
		<skybox id="skybox_2_iran" url="iran/02.jpg" />
		<skybox id="skybox_3_iran" url="iran/03.jpg" />
		<skybox id="skybox_4_iran" url="iran/04.jpg" />
		<skybox id="skybox_5_iran" url="iran/05.jpg" />
		<skybox id="skybox_6_iran" url="iran/06.jpg" />
		<skybox id="skybox_1_iran_winter" url="iran_winter/01.jpg" />
		<skybox id="skybox_2_iran_winter" url="iran_winter/02.jpg" />
		<skybox id="skybox_3_iran_winter" url="iran_winter/03.jpg" />
		<skybox id="skybox_4_iran_winter" url="iran_winter/04.jpg" />
		<skybox id="skybox_5_iran_winter" url="iran_winter/05.jpg" />
		<skybox id="skybox_6_iran_winter" url="iran_winter/06.jpg" />
		<skybox id="skybox_1_urban" url="urban/01.jpg" />
		<skybox id="skybox_2_urban" url="urban/02.jpg" />
		<skybox id="skybox_3_urban" url="urban/03.jpg" />
		<skybox id="skybox_4_urban" url="urban/04.jpg" />
		<skybox id="skybox_5_urban" url="urban/05.jpg" />
		<skybox id="skybox_6_urban" url="urban/06.jpg" />
		<skybox id="skybox_1_urban_night" url="urban_night/01.jpg" />
		<skybox id="skybox_2_urban_night" url="urban_night/02.jpg" />
		<skybox id="skybox_3_urban_night" url="urban_night/03.jpg" />
		<skybox id="skybox_4_urban_night" url="urban_night/04.jpg" />
		<skybox id="skybox_5_urban_night" url="urban_night/05.jpg" />
		<skybox id="skybox_6_urban_night" url="urban_night/06.jpg" />
		<skybox id="skybox_1_rio" url="rio/01.jpg" />
		<skybox id="skybox_2_rio" url="rio/02.jpg" />
		<skybox id="skybox_3_rio" url="rio/03.jpg" />
		<skybox id="skybox_4_rio" url="rio/04.jpg" />
		<skybox id="skybox_5_rio" url="rio/05.jpg" />
		<skybox id="skybox_6_rio" url="rio/06.jpg" />
		<skybox id="skybox_1_rio_night" url="rio_night/01.jpg" />
		<skybox id="skybox_2_rio_night" url="rio_night/02.jpg" />
		<skybox id="skybox_3_rio_night" url="rio_night/03.jpg" />
		<skybox id="skybox_4_rio_night" url="rio_night/04.jpg" />
		<skybox id="skybox_5_rio_night" url="rio_night/05.jpg" />
		<skybox id="skybox_6_rio_night" url="rio_night/06.jpg" />
		<skybox id="skybox_1_space" url="space/01.jpg" />
		<skybox id="skybox_2_space" url="space/02.jpg" />
		<skybox id="skybox_3_space" url="space/03.jpg" />
		<skybox id="skybox_4_space" url="space/04.jpg" />
		<skybox id="skybox_5_space" url="space/05.jpg" />
		<skybox id="skybox_6_space" url="space/06.jpg" />
		<skybox id="skybox_1_ny" url="ny/01.jpg" />
		<skybox id="skybox_2_ny" url="ny/02.jpg" />
		<skybox id="skybox_3_ny" url="ny/03.jpg" />
		<skybox id="skybox_4_ny" url="ny/04.jpg" />
		<skybox id="skybox_5_ny" url="ny/05.jpg" />
		<skybox id="skybox_6_ny" url="ny/06.jpg" />
		<skybox id="skybox_1_halloween" url="halloween/01.jpg" />
		<skybox id="skybox_2_halloween" url="halloween/02.jpg" />
		<skybox id="skybox_3_halloween" url="halloween/03.jpg" />
		<skybox id="skybox_4_halloween" url="halloween/04.jpg" />
		<skybox id="skybox_5_halloween" url="halloween/05.jpg" />
		<skybox id="skybox_6_halloween" url="halloween/06.jpg" />
	</skyboxes>
	<textures baseUrl="data/assets/">
		<texture id="dust" alpha="dust/dust_alpha.jpg" url="dust/dust.jpg" />
		<texture id="dust_winter" alpha="dust/dust_winter_alpha.jpg" url="dust/dust_winter.jpg" />
		<texture id="smoky_decal" alpha="decals/smoky_alpha.jpg" url="decals/smoky.jpg" />
		<texture id="thunder_decal" alpha="decals/thunder_alpha.jpg" url="decals/thunder.jpg" />
		<texture id="shaft_decal" alpha="decals/shaft_alpha.jpg" url="decals/shaft.jpg" />
		<texture id="twins_decal" alpha="decals/twins_alpha.jpg" url="decals/twins.jpg" />
		<texture id="railgun_decal" alpha="decals/railgun_alpha.jpg" url="decals/railgun.jpg" />
		<texture id="parachute" alpha="NO" url="boxes/parachute.jpg" />
		<texture id="parachute_inner" alpha="NO" url="boxes/parachuteInner.jpg" />
		<texture id="cords" alpha="boxes/cords_alpha.jpg" url="boxes/cords.jpg" />
		<texture id="medkit_box" alpha="NO" url="boxes/medkit.jpg" />
		<texture id="armor_box" alpha="NO" url="boxes/armor.jpg" />
		<texture id="damage_box" alpha="NO" url="boxes/damage.jpg" />
		<texture id="nitro_box" alpha="NO" url="boxes/nitro.jpg" />
		<texture id="cry_box" alpha="NO" url="boxes/cry.jpg" />
		<texture id="gold_box" alpha="NO" url="boxes/gold.jpg" />
		<texture id="green_mine" alpha="NO" url="mines/green.jpg" />
		<texture id="red_square" alpha="NO" url="collision/red_square.gif" />
		<texture id="green_square" alpha="NO" url="collision/green_square.gif" />
		<texture id="teal_triangle" alpha="NO" url="collision/teal_triangle.gif" />
		<texture id="active_spawn_marker" alpha="NO" url="markers/green_triangle.gif" />
		<texture id="dm_spawn_marker" alpha="NO" url="markers/yellow_marker.gif" />
		<texture id="red_spawn_marker" alpha="NO" url="markers/red_marker.gif" />
		<texture id="blue_spawn_marker" alpha="NO" url="markers/blue_marker.gif" />
		<texture id="dom_spawn_marker" alpha="NO" url="markers/cp_marker.gif" />
		<texture id="neutral_point_marker" alpha="cp/point_alpha.jpg" url="cp/point.jpg" />
		<texture id="point_pedestal" alpha="NO" url="cp/pedestal.jpg" />
		<texture id="fs_blue" alpha="NO" url="ctf/fs_blue.jpg" />
		<texture id="fs_red" alpha="NO" url="ctf/fs_red.jpg" />
		<texture id="blue_flag" alpha="ctf/flag_alpha.jpg" url="ctf/blue_flag.jpg" />
		<texture id="red_flag" alpha="ctf/flag_alpha.jpg" url="ctf/red_flag.jpg" />
		<texture id="active_spawn_marker" alpha="NO" url="markers/green_triangle.gif" />
		<texture id="smoky_muzzle_flash" alpha="smoky/smoky_shot_alpha.jpg" url="smoky/smoky_shot.jpg" />
		<texture id="damage_shaft" alpha="isida/damage_shaft_alpha.jpg" url="isida/damage_shaft.jpg" />
		<texture id="damage" alpha="isida/damage_alpha.jpg" url="isida/damage.jpg" />
		<texture id="heal_shaft" alpha="isida/heal_shaft_alpha.jpg" url="isida/heal_shaft.jpg" />
		<texture id="heal" alpha="isida/heal_alpha.jpg" url="isida/heal.jpg" />
		<texture id="Смоки М0" alpha="smoky/smoky_explosion0_alpha.jpg" url="smoky/smoky_explosion0.jpg" />
		<texture id="Смоки М1" alpha="smoky/smoky_explosion1_alpha.jpg" url="smoky/smoky_explosion1.jpg" />
		<texture id="Смоки М2" alpha="smoky/smoky_explosion2_alpha.jpg" url="smoky/smoky_explosion2.jpg" />
		<texture id="Смоки М3" alpha="smoky/smoky_explosion3_alpha.jpg" url="smoky/smoky_explosion3.jpg" />
		<texture id="flamethrower/Огнемёт" alpha="flamethrower/fireball_alpha.jpg" url="flamethrower/fireball.jpg" />
		<texture id="Огнемёт М0_muzzle" alpha="flamethrower/m0/muzzle_alpha.jpg" url="flamethrower/m0/muzzle.jpg" />
		<texture id="Огнемёт М1_muzzle" alpha="flamethrower/m1/muzzle_alpha.jpg" url="flamethrower/m1/muzzle.jpg" />
		<texture id="Огнемёт М2_muzzle" alpha="flamethrower/m2/muzzle_alpha.jpg" url="flamethrower/m2/muzzle.jpg" />
		<texture id="Огнемёт М3_muzzle" alpha="flamethrower/m3/muzzle_alpha.jpg" url="flamethrower/m3/muzzle.jpg" />
		<texture id="freeze" alpha="freeze/freezeballs_alpha.jpg" url="freeze/freezeballs.jpg" />
		<texture id="freeze_stream" alpha="freeze/muzzle_alpha.jpg" url="freeze/muzzle.jpg" />
		<texture id="Гром М0" alpha="smoky/thunder_explosion0_alpha.jpg" url="smoky/thunder_explosion0.jpg" />
		<texture id="Гром М1" alpha="smoky/thunder_explosion1_alpha.jpg" url="smoky/thunder_explosion1.jpg" />
		<texture id="Гром М2" alpha="smoky/thunder_explosion2_alpha.jpg" url="smoky/thunder_explosion2.jpg" />
		<texture id="Гром М3" alpha="smoky/thunder_explosion3_alpha.jpg" url="smoky/thunder_explosion3.jpg" />
		<texture id="Шафт М0" alpha="smoky/shaft_explosion_alpha.jpg" url="smoky/shaft_explosion.jpg" />
		<texture id="Шафт М1" alpha="smoky/shaft_explosion_alpha.jpg" url="smoky/shaft_explosion.jpg" brightness="18.053" contrast="-2.655" saturation="44.248" hue="339.29"/>
		<texture id="Шафт М2" alpha="smoky/shaft_explosion_alpha.jpg" url="smoky/shaft_explosion.jpg" brightness="14.668" contrast="-5.31" saturation="61.947" hue="313.81"/>
		<texture id="Шафт М3" alpha="smoky/shaft_explosion_alpha.jpg" url="smoky/shaft_explosion.jpg" brightness="11.283" contrast="-5.31" saturation="150.442" hue="302.65"/>
		<texture id="Твинс М0_flash" alpha="plasma/twin/muzzle_flash_alpha.jpg" url="plasma/twin/muzzle_flash.jpg"  />
		<texture id="Твинс М0" alpha="plasma/twin/charge_alpha.jpg" url="plasma/twin/charge.jpg" />
		<texture id="Твинс М0_exp" alpha="plasma/twin/explosion_alpha.jpg" url="plasma/twin/explosion.jpg" />
		<texture id="Твинс М1_flash" alpha="plasma/twin/muzzle_flash_alpha.jpg" url="plasma/twin/muzzle_flash.jpg" hue="46.19"/>
		<texture id="Твинс М1" alpha="plasma/twin/charge_alpha.jpg" url="plasma/twin/charge.jpg" hue="46.19"/>
		<texture id="Твинс М1_exp" alpha="plasma/twin/explosion_alpha.jpg" url="plasma/twin/explosion.jpg" hue="46.19"/>
		<texture id="Твинс М2_flash" alpha="plasma/twin/muzzle_flash_alpha.jpg" url="plasma/twin/muzzle_flash.jpg" brightness="30.465" contrast="2.655" saturation="-17.699" hue="73.27"/>
		<texture id="Твинс М2" alpha="plasma/twin/charge_alpha.jpg" url="plasma/twin/charge.jpg" brightness="30.465" contrast="2.655" saturation="-8.85" hue="226.19"/>
		<texture id="Твинс М2_exp" alpha="plasma/twin/explosion_alpha.jpg" url="plasma/twin/explosion.jpg" brightness="30.465" contrast="2.655" saturation="-8.85" hue="226.19"/>
		<texture id="Твинс М3_flash" alpha="plasma/twin/muzzle_flash_alpha.jpg" url="plasma/twin/muzzle_flash.jpg" brightness="10.155" contrast="2.655" saturation="-17.699" hue="73.27"/>
		<texture id="Твинс М3" alpha="plasma/twin/charge_alpha.jpg" url="plasma/twin/charge.jpg" brightness="10.155" contrast="1.77" saturation="-8.85" hue="297.88"/>
		<texture id="Твинс М3_exp" alpha="plasma/twin/explosion_alpha.jpg" url="plasma/twin/explosion.jpg" brightness="10.155" contrast="1.77" saturation="-8.85" hue="297.88"/>
		<texture id="Рикошет М0_flash" alpha="plasma/rico/muzzle_flash_alpha.jpg" url="plasma/rico/muzzle_flash.jpg" brightness="14.668" contrast="0" saturation="-8.85" hue="6.37"/>
		<texture id="Рикошет М0" alpha="plasma/rico/shot_alpha.jpg" url="plasma/rico/shot.jpg"  brightness="14.668" contrast="0" saturation="-8.85" hue="6.37"/>
		<texture id="Рикошет М0_exp" alpha="plasma/rico/explosion_alpha.jpg" url="plasma/rico/explosion.jpg"  brightness="14.668" contrast="0" saturation="-8.85" hue="6.37"/>
		<texture id="Рикошет М1_flash" alpha="plasma/rico/muzzle_flash_alpha.jpg" url="plasma/rico/muzzle_flash.jpg" brightness="1.128" contrast="0" saturation="0" hue="345.66"/>
		<texture id="Рикошет М1" alpha="plasma/rico/shot_alpha.jpg" url="plasma/rico/shot.jpg" brightness="1.128" contrast="0" saturation="0" hue="345.66"/>
		<texture id="Рикошет М1_exp" alpha="plasma/rico/explosion_alpha.jpg" url="plasma/rico/explosion.jpg"  brightness="1.128" contrast="0" saturation="0" hue="345.66"/>
		<texture id="Рикошет М2_flash" alpha="plasma/rico/muzzle_flash_alpha.jpg" url="plasma/rico/muzzle_flash.jpg" brightness="1.128" contrast="0" saturation="0" hue="1.59"/>
		<texture id="Рикошет М2" alpha="plasma/rico/shot_alpha.jpg" url="plasma/rico/shot.jpg" brightness="1.128" contrast="0" saturation="0" hue="1.59"/>
		<texture id="Рикошет М2_exp" alpha="plasma/rico/explosion_alpha.jpg" url="plasma/rico/explosion.jpg"  brightness="1.128" contrast="0" saturation="0" hue="1.59"/>
		<texture id="Рикошет М3_flash" alpha="plasma/rico/muzzle_flash_alpha.jpg" url="plasma/rico/muzzle_flash.jpg" brightness="1.128" hue="353.63"/>
		<texture id="Рикошет М3" alpha="plasma/rico/shot_alpha.jpg" url="plasma/rico/shot.jpg" brightness="1.128" hue="353.63"/>
		<texture id="Рикошет М3_exp" alpha="plasma/rico/explosion_alpha.jpg" url="plasma/rico/explosion.jpg"  brightness="1.128" hue="353.63"/>
		<texture id="tank_explosion/shockwave" alpha="tank_explosion/shock_wave_alpha.jpg" url="tank_explosion/shock_wave.jpg" />
		<texture id="tank_explosion/explosion" alpha="tank_explosion/explosion_small_alpha.jpg" url="tank_explosion/explosion_small.jpg" />
		<texture id="tank_explosion/smoke" alpha="tank_explosion/smoke_alpha.jpg" url="tank_explosion/smoke.jpg" />
		<texture id="Рельса М0_smoke" alpha="railgun/smoke_alpha.jpg" url="railgun/smoke.jpg" />
		<texture id="Рельса М0_part1" alpha="railgun/charge_part1_alpha.jpg" url="railgun/charge_part1.jpg" />
		<texture id="Рельса М0_part2" alpha="railgun/charge_part2_alpha.jpg" url="railgun/charge_part2.jpg" />
		<texture id="Рельса М0_part3" alpha="railgun/charge_part3_alpha.jpg" url="railgun/charge_part3.jpg" />
		<texture id="Рельса М0_beam" alpha="railgun/beam_alpha.jpg" url="railgun/beam.jpg" />
		<texture id="Рельса М0_expl" alpha="railgun/sphere_alpha.jpg" url="railgun/sphere.jpg" />
		<texture id="Рельса М1_part1" alpha="railgun/charge_part1_alpha.jpg" url="railgun/charge_part1.jpg"  brightness="10.155" contrast="-2.655" saturation="44.248" hue="340.88"/>
		<texture id="Рельса М1_part2" alpha="railgun/charge_part2_alpha.jpg" url="railgun/charge_part2.jpg"  brightness="10.155" contrast="-2.655" saturation="44.248" hue="340.88"/>
		<texture id="Рельса М1_part3" alpha="railgun/charge_part3_alpha.jpg" url="railgun/charge_part3.jpg"  brightness="10.155" contrast="-2.655" saturation="44.248" hue="340.88"/>
		<texture id="Рельса М1_beam" alpha="railgun/beam_alpha.jpg" url="railgun/beam.jpg" brightness="10.155" contrast="-2.655" saturation="61.947" hue="344.07"/>
		<texture id="Рельса М1_expl" alpha="railgun/sphere_alpha.jpg" url="railgun/sphere.jpg" brightness="10.155" contrast="-2.655" saturation="61.947" hue="344.07"/>
		<texture id="Рельса М1_smoke" alpha="railgun/smoke_alpha.jpg" url="railgun/smoke.jpg"   brightness="10.155" contrast="-2.655" saturation="61.947" hue="344.07"/>
		<texture id="Рельса М2_part1" alpha="railgun/charge_part1_alpha.jpg" url="railgun/charge_part1.jpg" brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М2_part2" alpha="railgun/charge_part2_alpha.jpg" url="railgun/charge_part2.jpg" brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М2_part3" alpha="railgun/charge_part3_alpha.jpg" url="railgun/charge_part3.jpg"  brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М2_beam" alpha="railgun/beam_alpha.jpg" url="railgun/beam.jpg" brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М2_expl" alpha="railgun/sphere_alpha.jpg" url="railgun/sphere.jpg" brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М2_smoke" alpha="railgun/smoke_alpha.jpg" url="railgun/smoke.jpg"    brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М3_part1" alpha="railgun/charge_part1_alpha.jpg" url="railgun/charge_part1.jpg" brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="Рельса М3_part2" alpha="railgun/charge_part2_alpha.jpg" url="railgun/charge_part2.jpg" brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="Рельса М3_part3" alpha="railgun/charge_part3_alpha.jpg" url="railgun/charge_part3.jpg"  brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="Рельса М3_expl" alpha="railgun/sphere_alpha.jpg" url="railgun/sphere.jpg"  brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="Рельса М3_beam" alpha="railgun/beam_alpha.jpg" url="railgun/beam.jpg" brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="Рельса М3_smoke" alpha="railgun/smoke_alpha.jpg" url="railgun/smoke.jpg"    brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="railgun_pow" alpha="railgun/pow_alpha.jpg" url="railgun/pow.jpg" />
	</textures>
	<textureAnimations>
		<animation id="railgun_pow">
			<textureId>railgun_pow</textureId>
			<frameWidth>65</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>6</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="damage_shaft">
			<textureId>damage_shaft</textureId>
			<frameWidth>100</frameWidth>
			<frameHeight>500</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="heal_shaft">
			<textureId>heal_shaft</textureId>
			<frameWidth>100</frameWidth>
			<frameHeight>500</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="damage">
			<textureId>damage</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="heal">
			<textureId>heal</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Смоки М0">
			<textureId>Смоки М0</textureId>
			<frameWidth>102</frameWidth>
			<frameHeight>102</frameHeight>
			<numFrames>25</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Смоки М1">
			<textureId>Смоки М1</textureId>
			<frameWidth>102</frameWidth>
			<frameHeight>102</frameHeight>
			<numFrames>25</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Смоки М2">
			<textureId>Смоки М2</textureId>
			<frameWidth>102</frameWidth>
			<frameHeight>102</frameHeight>
			<numFrames>25</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Смоки М3">
			<textureId>Смоки М3</textureId>
			<frameWidth>102</frameWidth>
			<frameHeight>102</frameHeight>
			<numFrames>25</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Шафт М0">
			<textureId>Шафт М0</textureId>
			<frameWidth>78</frameWidth>
			<frameHeight>195</frameHeight>
			<numFrames>13</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Шафт М1">
			<textureId>Шафт М1</textureId>
			<frameWidth>78</frameWidth>
			<frameHeight>195</frameHeight>
			<numFrames>13</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Шафт М2">
			<textureId>Шафт М2</textureId>
			<frameWidth>78</frameWidth>
			<frameHeight>195</frameHeight>
			<numFrames>13</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Шафт М3">
			<textureId>Шафт М3</textureId>
			<frameWidth>78</frameWidth>
			<frameHeight>195</frameHeight>
			<numFrames>13</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Твинс М0">
			<textureId>Твинс М0</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М0_exp">
			<textureId>Твинс М0_exp</textureId>
			<frameWidth>256</frameWidth>
			<frameHeight>256</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М1">
			<textureId>Твинс М1</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М1_exp">
			<textureId>Твинс М1_exp</textureId>
			<frameWidth>256</frameWidth>
			<frameHeight>256</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М2">
			<textureId>Твинс М2</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М2_exp">
			<textureId>Твинс М2_exp</textureId>
			<frameWidth>256</frameWidth>
			<frameHeight>256</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М3">
			<textureId>Твинс М3</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М3_exp">
			<textureId>Твинс М3_exp</textureId>
			<frameWidth>256</frameWidth>
			<frameHeight>256</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Рикошет М0">
			<textureId>Рикошет М0</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Рикошет М0_exp">
			<textureId>Рикошет М0_exp</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>204</frameHeight>
			<numFrames>20</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Рикошет М1">
			<textureId>Рикошет М1</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Рикошет М1_exp">
			<textureId>Рикошет М1_exp</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>204</frameHeight>
			<numFrames>20</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Рикошет М2">
			<textureId>Рикошет М2</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Рикошет М2_exp">
			<textureId>Рикошет М2_exp</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>204</frameHeight>
			<numFrames>20</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Рикошет М3">
			<textureId>Рикошет М3</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Рикошет М3_exp">
			<textureId>Рикошет М3_exp</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>204</frameHeight>
			<numFrames>20</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="dust">
			<textureId>dust</textureId>
			<frameWidth>32</frameWidth>
			<frameHeight>32</frameHeight>
			<numFrames>17</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="dust_winter">
			<textureId>dust_winter</textureId>
			<frameWidth>32</frameWidth>
			<frameHeight>32</frameHeight>
			<numFrames>17</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Гром М0">
			<textureId>Гром М0</textureId>
			<frameWidth>170</frameWidth>
			<frameHeight>170</frameHeight>
			<numFrames>32</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Гром М1">
			<textureId>Гром М1</textureId>
			<frameWidth>170</frameWidth>
			<frameHeight>170</frameHeight>
			<numFrames>32</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Гром М2">
			<textureId>Гром М2</textureId>
			<frameWidth>170</frameWidth>
			<frameHeight>170</frameHeight>
			<numFrames>32</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Гром М3">
			<textureId>Гром М3</textureId>
			<frameWidth>170</frameWidth>
			<frameHeight>170</frameHeight>
			<numFrames>32</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М0">
			<textureId>flamethrower/Огнемёт</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>51</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М1">
			<textureId>flamethrower/Огнемёт</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>51</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М2">
			<textureId>flamethrower/Огнемёт</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>51</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М3">
			<textureId>flamethrower/Огнемёт</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>51</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М0_muzzle">
			<textureId>Огнемёт М0_muzzle</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>51</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М1_muzzle">
			<textureId>Огнемёт М1_muzzle</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>51</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М2_muzzle">
			<textureId>Огнемёт М2_muzzle</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>51</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М3_muzzle">
			<textureId>Огнемёт М3_muzzle</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>51</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Фриз М0-М3">
			<textureId>freeze</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>13</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="freeze_stream">
			<textureId>freeze_stream</textureId>
			<frameWidth>256</frameWidth>
			<frameHeight>150</frameHeight>
			<numFrames>11</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="tank_explosion/shockwave">
			<textureId>tank_explosion/shockwave</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>16</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="tank_explosion/explosion">
			<textureId>tank_explosion/explosion</textureId>
			<frameWidth>170</frameWidth>
			<frameHeight>170</frameHeight>
			<numFrames>36</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="tank_explosion/smoke">
			<textureId>tank_explosion/smoke</textureId>
			<frameWidth>64</frameWidth>
			<frameHeight>64</frameHeight>
			<numFrames>16</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="plasma/shot">
			<textureId>plasma/shot</textureId>
			<frameWidth>150</frameWidth>
			<frameHeight>150</frameHeight>
			<numFrames>10</numFrames>
			<fps>25</fps>
		</animation>
		<animation id="plasma/explosion">
			<textureId>plasma/explosion</textureId>
			<frameWidth>200</frameWidth>
			<frameHeight>200</frameHeight>
			<numFrames>10</numFrames>
			<fps>25</fps>
		</animation>
	</textureAnimations>
	<hulls path="data/hulls">
		<hull id="wasp"  modification="0" path="wasp/m0"/>
		<hull id="wasp" modification="1" path="wasp/m1"/>
		<hull id="wasp" modification="2" path="wasp/m2"/>
		<hull id="wasp" modification="3" path="wasp/m3"/>
		<hull id="wasp" modification="4" path="wasp/m4"/>
		<hull id="hornet" modification="0" path="hornet/m0"/>
		<hull id="hornet" modification="1" path="hornet/m1"/>
		<hull id="hornet" modification="2" path="hornet/m2"/>
		<hull id="hornet" modification="3" path="hornet/m3"/>
		<hull id="hunter" modification="0" path="hunter/m0"/>
		<hull id="hunter" modification="1" path="hunter/m1"/>
		<hull id="hunter" modification="2" path="hunter/m2"/>
		<hull id="hunter" modification="3" path="hunter/m3"/>
		<hull id="viking" modification="0" path="viking/m0"/>
		<hull id="viking" modification="1" path="viking/m1"/>
		<hull id="viking" modification="2" path="viking/m2"/>
		<hull id="viking" modification="3" path="viking/m3"/>
		<hull id="dictator" modification="0" path="dictator/m0"/>
		<hull id="dictator" modification="1" path="dictator/m1"/>
		<hull id="dictator" modification="2" path="dictator/m2"/>
		<hull id="dictator" modification="3" path="dictator/m3"/>
		<hull id="titan" modification="0" path="titan/m0"/>
		<hull id="titan" modification="1" path="titan/m1"/>
		<hull id="titan" modification="2" path="titan/m2"/>
		<hull id="titan" modification="3" path="titan/m3"/>
		<hull id="mammoth" modification="0" path="mammoth/m0"/>
		<hull id="mammoth" modification="1" path="mammoth/m1"/>
		<hull id="mammoth" modification="2" path="mammoth/m2"/>
		<hull id="mammoth" modification="3" path="mammoth/m3"/>
	</hulls>
	<turrets path="data/turrets">
		<turret id="smoky" modification="0" rotationSpeed="71.5" turnAcceleration="133.0" path="smoky/m0"/>
		<turret id="smoky" modification="1" rotationSpeed="87.1" turnAcceleration="153.2" path="smoky/m1"/>
		<turret id="smoky" modification="2" rotationSpeed="102.6" turnAcceleration="173.4" path="smoky/m2"/>
		<turret id="smoky" modification="3" rotationSpeed="122.6" turnAcceleration="199.4" path="smoky/m3"/>
		<turret id="flamethrower" modification="0" rotationSpeed="95.3" turnAcceleration="169.5" path="flamethrower/m0"/>
		<turret id="flamethrower" modification="1" rotationSpeed="116.9" turnAcceleration="190.1" path="flamethrower/m1"/>
		<turret id="flamethrower" modification="2" rotationSpeed="138.4" turnAcceleration="210.7" path="flamethrower/m2"/>
		<turret id="flamethrower" modification="3" rotationSpeed="166.2" turnAcceleration="237.2" path="flamethrower/m3"/>
		<turret id="twins" modification="0" rotationSpeed="89.6" turnAcceleration="162.7" path="twins/m0"/>
		<turret id="twins" modification="1" rotationSpeed="103.9" turnAcceleration="181.1" path="twins/m1"/>
		<turret id="twins" modification="2" rotationSpeed="118.3" turnAcceleration="199.5" path="twins/m2"/>
		<turret id="twins" modification="3" rotationSpeed="134.7" turnAcceleration="220.6" path="twins/m3"/>
		<turret id="railgun" modification="0" rotationSpeed="56.2" turnAcceleration="69.6" path="railgun/m0"/>
		<turret id="railgun" modification="1" rotationSpeed="70.0" turnAcceleration="80.0" path="railgun/m1"/>
		<turret id="railgun" modification="2" rotationSpeed="78.5" turnAcceleration="90.4" path="railgun/m2"/>
		<turret id="railgun" modification="3" rotationSpeed="97.4" turnAcceleration="100.8" path="railgun/m3"/>
		<turret id="isida" modification="0" rotationSpeed="91.7" turnAcceleration="165.1" path="isida/m0"/>
		<turret id="isida" modification="1" rotationSpeed="106.7" turnAcceleration="184.6" path="isida/m1"/>
		<turret id="isida" modification="2" rotationSpeed="121.8" turnAcceleration="203.6" path="isida/m2"/>
		<turret id="isida" modification="3" rotationSpeed="134.7" turnAcceleration="220.5" path="isida/m3"/>
		<turret id="freeze" modification="0" rotationSpeed="125.1" turnAcceleration="197.9" path="freeze/m0"/>
		<turret id="freeze" modification="1" rotationSpeed="151.2" turnAcceleration="218.7" path="freeze/m1"/>
		<turret id="freeze" modification="2" rotationSpeed="177.3" turnAcceleration="239.5" path="freeze/m2"/>
		<turret id="freeze" modification="3" rotationSpeed="196.0" turnAcceleration="254.3" path="freeze/m3"/>
		<turret id="ricochet" modification="0" rotationSpeed="91.3" turnAcceleration="77.6" path="ricochet/m0"/>
		<turret id="ricochet" modification="1" rotationSpeed="110.2" turnAcceleration="100.2" path="ricochet/m1"/>
		<turret id="ricochet" modification="2" rotationSpeed="129.0" turnAcceleration="122.9" path="ricochet/m2"/>
		<turret id="ricochet" modification="3" rotationSpeed="139.8" turnAcceleration="135.8" path="ricochet/m3"/>
		<turret id="thunder" modification="0" rotationSpeed="77.0" turnAcceleration="111.7" path="thunder/m0"/>
		<turret id="thunder" modification="1" rotationSpeed="94.6" turnAcceleration="129.7" path="thunder/m1"/>
		<turret id="thunder" modification="2" rotationSpeed="112.3" turnAcceleration="147.6" path="thunder/m2"/>
		<turret id="thunder" modification="3" rotationSpeed="124.9" turnAcceleration="160.4" path="thunder/m3"/>
		<turret id="thunder" modification="4" rotationSpeed="124.9" turnAcceleration="160.4" path="thunder/m4"/>
		<turret id="shaft" modification="0" rotationSpeed="71.5" turnAcceleration="76.0" path="shaft/m0"/>
		<turret id="shaft" modification="1" rotationSpeed="86.8" turnAcceleration="87.2" path="shaft/m1"/>
		<turret id="shaft" modification="2" rotationSpeed="102.1" turnAcceleration="98.3" path="shaft/m2"/>
		<turret id="shaft" modification="3" rotationSpeed="108.7" turnAcceleration="103.1" path="shaft/m3"/>
		<turret id="shotgun" modification="0" rotationSpeed="87.2" turnAcceleration="133.0" path="shotgun/m0"/>
		<turret id="shotgun" modification="1" rotationSpeed="104.0" turnAcceleration="149.8" path="shotgun/m1"/>
		<turret id="shotgun" modification="2" rotationSpeed="120.8" turnAcceleration="166.6" path="shotgun/m2"/>
		<turret id="shotgun" modification="3" rotationSpeed="137.5" turnAcceleration="183.4" path="shotgun/m3"/>
	</turrets>
	<colormaps path="data/colormaps">
		<colormap id="1" file="paints_castom/1.png" />
                <colormap id="2" file="paints_castom/2.png" />
                <colormap id="3" file="paints_castom/3.png" />
                <colormap id="4" file="paints_castom/4.png" />
                <colormap id="5" file="paints_castom/5.png" />
                <colormap id="green" file="Green.jpg" />
		<colormap id="red" file="Red.jpg" />
		<colormap id="blue" file="Blue.jpg" />
		<colormap id="black" file="Black.jpg" />
		<colormap id="white" file="White.jpg" />
		<colormap id="orange" file="Orange.jpg" />
		<colormap id="flora" file="Flora.jpg" />
		<colormap id="marine" file="Marine.jpg" />
		<colormap id="swamp" file="Swamp.jpg" />
		<colormap id="forester" file="Forester.jpg" />
		<colormap id="safari" file="Safari.jpg" />
		<colormap id="metallic" file="Metallic.jpg" />
		<colormap id="lava" file="Lava.jpg" />
		<colormap id="dragon" file="Dragon.jpg" />
		<colormap id="lead" file="Lead.jpg" />
		<colormap id="mary" file="Mary.jpg" />
		<colormap id="storm" file="Storm.jpg" />
		<colormap id="carbon" file="Carbon.jpg" />
		<colormap id="roger" file="Roger.jpg" />
		<colormap id="corrosion" file="Corrosion.jpg" />
		<colormap id="tundra" file="Tundra.jpg" />
		<colormap id="alien" file="Alien.jpg" />
		<colormap id="swash" file="Swash.jpg" />
		<colormap id="cedar" file="Cedar.jpg" />
		<colormap id="in_love" file="In-Love.jpg" />
		<colormap id="desert" file="Desert.jpg" />
		<colormap id="dirty" file="Dirty.jpg" />
		<colormap id="jaguar" file="Jaguar.jpg" />
		<colormap id="savanna" file="Savanna.jpg" />
		<colormap id="loam" file="Loam.jpg" />
		<colormap id="urban" file="Urban.jpg" />
		<colormap id="digital" file="Digital.jpg" />
		<colormap id="hohloma" file="Hohloma.jpg" />
		<colormap id="electra" file="Electra.jpg" />
		<colormap id="rustle" file="Rustle.jpg" />
		<colormap id="python" file="Python.jpg" />
		<colormap id="sandstone" file="Sandstone.jpg" />
		<colormap id="spark" file="Spark.jpg" />
		<colormap id="winter" file="Winter.jpg" />
		<colormap id="needle" file="Needle.jpg" />
		<colormap id="zeus" file="Zeus.jpg" />
		<colormap id="rock" file="Rock.jpg" />
		<colormap id="prodigi" file="Prodigi.jpg" />
		<colormap id="irbis" file="Irbis.jpg" />
		<colormap id="emerald" file="Emerald.jpg" />
		<colormap id="inferno" file="Inferno.jpg" />
		<colormap id="clay" file="Clay.jpg" />
		<colormap id="taiga" file="Taiga.jpg" />
		<colormap id="jade" file="Jade.jpg" />
		<colormap id="picasso" file="Picasso.jpg" />
		<colormap id="dead" file="special\Dead.jpg" />
		<colormap id="acid" file="special\Acid.jpg" />
		<colormap id="alligator" file="special\Alligator.jpg" />
		<colormap id="microchip" file="special\Microchip.jpg" />
		<colormap id="engineer" file="special\Engineer.jpg" />
		<colormap id="flame" file="special\Flame.jpg" />
		<colormap id="gladiator" file="special\Gladiator.jpg" />
		<colormap id="glide" file="special\Glide.jpg" />
		<colormap id="helios" file="special\Helios.jpg" />
		<colormap id="devil" file="special\Devil.jpg" />
		<colormap id="moonwalker" file="special\Moonwalker.jpg" />
		<colormap id="parkour_master_2022" file="special\Master_of_Parkour_22.jpg" />
		<colormap id="spectator" file="special\Spectator.jpg" />
		<colormap id="neon" file="special\Neon.jpg" />
		<colormap id="impulse" file="special\Impulse.jpg" />
		<colormap id="aramid" file="special\Aramid.jpg" />
		<colormap id="youtuber" file="special\Youtuber.jpg" />
		<colormap id="cobalt" file="special\Cobalt.jpg" />
		<colormap id="eternity" file="special\Eternity.jpg" />
		<colormap id="premium" file="special\Premium.jpg" />
		<colormap id="holiday" file="holiday\Absent.jpg" />
		<colormap id="holiday_1" file="holiday\21_12_NewYear.jpg" />
		<colormap id="holiday_2" file="holiday\22_02_ValentinesDay.jpg" />
		<colormap id="holiday_3" file="holiday\22_02_DefenderOftheFatherlandDay.jpg" />
		<colormap id="holiday_4" file="holiday\22_04_AprilFoolsDay.jpg" />
		<colormap id="holiday_5" file="holiday\22_04_CosmonauticsDay.jpg" />
		<colormap id="holiday_6" file="holiday\22_04_EasterDay.jpg" />
		<colormap id="holiday_7" file="holiday\22_05_VictoryDay.jpg" />
		<colormap id="holiday_8" file="holiday\22_07_Birthday.jpg" />
		<colormap id="holiday_9" file="holiday\22_08_RailwayWorkersDay.jpg" />
		<colormap id="holiday_10" file="holiday\22_09_TankersDay.jpg" />
		<colormap id="holiday_11" file="holiday\22_10_Halloween.jpg" />
		<colormap id="user_1" file="user\1.jpg" />
		<colormap id="user_2" file="user\2.jpg" />
		<colormap id="user_3" file="user\3.jpg" />
	</colormaps>
</config>